
#hud-container {
    position: absolute;
    bottom: 0;
    height: 150px;
    width: 100%;
    background: #222;
    z-index: -10;
    display: none;
}
#hud-container .portrait {
    position: relative;
    left: 15%;
    top: 5%;
    -background: #F00;
    width: 125px;
    height: 130px;
}
#hud-container .portrait .name {
    position: relative;
    top: 0;
    width: 100%;
    height: 20px;
    padding: 4px;
    color: #fff;
}            
#hud-container .portrait .image {
    background-size: cover;
    position: relative;
    top: 20px;
    width: 100%;
    left: 0px;
    height: 90px;
}
#hud-container .portrait .level {
    position: absolute;
    height: 20px;
    width: 40px;
    top: 20px;
    left: 0;
}
#hud-container .portrait .xp {
    position: absolute;
    left: 40px;
    height: 20px;
    width: 85px;
}
#hud-container .portrait .xp .bar {
    background-image: url(/gamedata/textures/lifebar.png);
    position: absolute;
    width: 0%;
}
#hud-container .health .life {
    width: 100%;
    height: 10px;
    position: relative;
    bottom: 0;
}
#hud-container .health .life .bar {
    background-image: url(/gamedata/textures/lifebar.png);
    background-color: #0F0;
    height: 10px;
    width: 0%;
    font-size: 10px;
    line-height: 9px;
}
#hud-container .health {
    position: absolute;
    left: 40%;
    height: 50px;
    top: 0;
    width: 200px;
}
#hud-container .health .mana {
    width: 100%;
    height: 10px;
    position: relative;
    bottom: 0;
}
#hud-container .health .mana .bar {
    background-image: url(/gamedata/textures/lifebar.png);
    background-color: #00D6FF;
    height: 10px;
    width: 0%;
    font-size: 10px;
    line-height: 9px;
}
#hud-container .abilities {
    position: absolute;
    left: 40%;
    height: 50px;
    top: 50px;
    width: 200px;
}
#hud-container .attributes {
    position: absolute;
    left: 40%;
    height: 50px;
    top: 50px;
    width: 200px;
}

